body{
    background-color: black;
}

.container{

}
a{
    text-decoration: none;

    color:white;
}
.navbar ul{
    display: flex;
    flex-direction: row;
}
.navbar ul li{
    margin: 1%;;
}
.navbar{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
.hr{
    width: 1px;
    color: lemonchiffon;
}
#me{
    margin: 1%;
    font-size: 50px;
    color:pink;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    
}
#info{
    margin: 1%;
    font-size: 20px;
    color:white;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}
#contacts{
    margin: 1%;
    font-size: 20px;
    color:beige;
    text-align: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: lighter;
}
#image{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    object-fit: cover;
    opacity: 0.35;
}

.phone:hover{
    color: skyblue;
}
.mail:hover{
    color: skyblue;
}
.maps:hover{
    color: skyblue;
}
.github:hover{
    color: skyblue;
}
.insta:hover{
  color: skyblue;
}
.images{
width: 30px;
height: 30px;

}
.center{
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

#more{
    color:white;
    border: 1px solid white;
    max-width:45%;
    padding: 0 auto;
    
}
.interests{
    color:white;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.interests ul li{
    color:white;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
      .scroller {
        height: 1.2em;
        line-height: 1.2em;
        position: relative;
        overflow: hidden;
        width: 15em;
        margin: auto;
        text-align: center;
        font-size: 30px;
        margin-bottom: 5%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: pink;
      }
      .scroller > span {
        position: relative;

        animation: slide2 8s infinite;
      }
      @keyframes slide2 {
        0% {
          top: 0;
        }
        12.5% {
          top: -1.2em;
        }
        25% {
          top: -2.4em;
        }
        37.5% {
          top: -3.6em;
        }
        50% {
          top: -4.8em;
        }
        62.5% {
          top: -6em;
        }
        75% {
          top: -7.2em;
        }
        87.5% {
          top: -8.4em;
        }
        100% {
          top: 0em;
        }
      }
      .row {
        display: flex;
      }
      
      .column {
        flex: 50%;
      }
#tenth{
  margin: 1%;
    font-size: 20px;
    color:pink;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: lighter;
}
#twelveth{
  margin: 1%;
    font-size: 20px;
    color:beige;
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: lighter;
}
